doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
    title='Investigator'
  body(class='grid-container')
    h1(class='title') URL Investigator 

  form(class='search' method='POST')
    div.search
      input(type='text', placeholder='google.com' name='search')
    button.btn.btn-primary(type='submit') Investigate
  
  block content
