extends layout

block content
        .content
                // Your content here
                h1 Results
                    p URL: #{result.url}
                    p VirusTotal: #{result.virusTotal}
                    p Threat Score: #{result.threatScore}
