.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: teal;
    width: 100vw;
    height: 100vh;


}


.title {
    background-color: greenyellow;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
    border-radius: 10px;
}

.search {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
    border-radius: 10px;
}

@media (max-width: 1200px) {
    [class*="container"] {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        background-color: teal;
        width: 100vw;
        height: 100vh;
    }

    [class*="title"] {
        background-color: greenyellow;
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 1;
        text-align: center;
        vertical-align: middle;
        line-height: 200px;
        border-radius: 10px;
    }

    [class*="search"] {
        grid-row-start: 3;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 1;
        text-align: center;
        vertical-align: middle;
        line-height: 1fr;
        border-radius: 10px;
    }


}


#searchField {
    width: 20rem;
    height: 40px;
    border-radius: 10px;
    font-size: 1rem;
    padding-left: 20px;
    color: black;
}

#submitButton {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-size: .9rem;
    background-color: greenyellow;

}